.plus {
  width: 44px;
  height: 44px;
}

.plus rect {
  transition: transform 250ms;
  transform: scaleY(1) ease-in-out;
  transform-origin: 50% 50%;
}

.minus .vertical-line {
  transform: scaleY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
  display: none;
}